.bg-fondo-ahorcado{
    background-image: url('../../../assets/imagenes/juego1/JUEGO/FONDO-JUEGO.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.carga-centelso{
    vertical-align: baseline;
}
.ajustar-tiempo{
    top: 32%;
    left: 23%;
}

.big_noodle_titling{
    font-family: 'big_noodle_titling';
}