.bg-fondo-juego2 {
  background-image: url(../../../assets/imagenes/juego2/fondo_juego.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.alinear-logo-centelsa {
  right: 0;
  top: 0;
}
