<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 position-relative p-0">
      <img
        src="./assets/imagenes/juego1/portadaJuego1.png"
        class="img-fluid"
        alt="portadaJuego1"
      />
      <div class="col-4 position-absolute" style="bottom: 10%; right: 33%">
        <a href="#">
          <img
            src="./assets/imagenes/juego1/play.png"
            class="img-fluid"
            alt="play1"
          />
        </a>
      </div>
    </div>
    <div class="col-lg-6 position-relative p-0">
      <img
        src="./assets/imagenes/juego2/portadaJuego2.png"
        class="img-fluid"
        alt="portadaJuego2"
      />
      <div class="col-4 position-absolute" style="bottom: 8%; right: 30%">
        <a [routerLink]="['memorama']">
          <img
            src="./assets/imagenes/juego2/play.png"
            class="img-fluid"
            alt="play2"
          />
        </a>
      </div>
    </div>
  </div>
</div>
