.cursor-pointer {
    cursor: pointer;
  }
  @font-face {
    font-family: 'big_noodle_titling';
    src: url(./assets/imagenes/juego1/JUEGO/big_noodle_titling.ttf);
    font-style: normal;
    font-weight: normal;
  }
  